In [1]:
CREATE DATABASE SalfordBuildingProjects;

: Msg 1801, Level 16, State 3, Line 1
Database 'SalfordBuildingProjects' already exists. Choose a different database name.

In [2]:
USE SalfordBuildingProjects;
CREATE TABLE Employees (
EmployeeID int IDENTITY(1,1) PRIMARY KEY,
FirstName nvarchar(30) NOT NULL,
MiddleName nvarchar(30) NULL,
LastName nvarchar(30) NOT NULL,
DepartmentID tinyint NOT NULL,
EmailAddress nvarchar(50) NOT NULL,
LineManagerID int NULL,
DateJoined date NOT NULL,
DateLeft date NULL)

: Msg 2714, Level 16, State 6, Line 2
There is already an object named 'Employees' in the database.

In [3]:
CREATE TABLE Department (
DepartmentID tinyint IDENTITY(1,1) PRIMARY KEY,
DepartmentName nvarchar(30) NOT NULL,
DepartmentEmail nvarchar(50) NULL,
DepartmentTelephone nvarchar(20) NOT NULL);