In [ ]:
CREATE DATABASE SalfordBuildingProjects;
USE SalfordBuildingProjects;

In [ ]:
CREATE TABLE Employees (
EmployeeID int IDENTITY(1,1) PRIMARY KEY,
FirstName nvarchar(30) NOT NULL,
MiddleName nvarchar(30) NULL,
LastName nvarchar(30) NOT NULL,
DepartmentID tinyint NOT NULL,
EmailAddress nvarchar(50) NOT NULL,
LineManagerID int NULL,
DateJoined date NOT NULL,
DateLeft date NULL)

In [ ]:
CREATE TABLE Department (
DepartmentID tinyint IDENTITY(1,1) PRIMARY KEY,
DepartmentName nvarchar(30) NOT NULL,
DepartmentEmail nvarchar(50) NULL,
DepartmentTelephone nvarchar(20) NOT NULL);

In [ ]:
CREATE TABLE Projects (
ProjectID int IDENTITY(1,1) PRIMARY KEY,
ProjectName nvarchar(50) NOT NULL,
ProjectManagerID int NULL FOREIGN KEY REFERENCES Employees
(EmployeeID),
StartDate date NULL,
EndDate date NULL);

Add Foreign Key Constraints

In [ ]:
ALTER TABLE Employees ADD CONSTRAINT fk_department FOREIGN KEY (DepartmentID) REFERENCES Department(DepartmentID)

Add Self-Referencing Foreign Key

In [ ]:
ALTER TABLE Employees Add CONSTRAINT fk_employee FOREIGN KEY (LineManagerID) REFERENCES Employees(EmployeeID)

**Adding Data**

In [ ]:
INSERT INTO Department VALUES ('Marketing', 'marketing@salfordbuildingprojects.co.uk','0161123 4567'), ('HR', 'hr@salfordbuildingprojects.co.uk','0161 123 4568');

In [ ]:
INSERT INTO Department (DepartmentEmail, DepartmentTelephone,
DepartmentName)
VALUES ('operations@salfordbuildingprojects.co.uk', '0161 123
4590','Operations'),
('sales@salfordbuildingprojects.co.uk', '0161 123
4591','Sales');

In [ ]:
INSERT INTO Employees
VALUES ('Beatrice', 'Alice', ' Robinson', 2,
'b.robinson@salfordbuildingprojects.co.uk', NULL,'2020-08-30',
NULL);

In [ ]:
INSERT INTO Employees (FirstName, LastName, DepartmentID,
EmailAddress, DateJoined)
VALUES ('Charles', 'Dotson', 3, 9000, '2018-02-14');

In [ ]:
SELECT * from Employees
SELECT * from Department

In [ ]:
-- Ejimofor Chinweuba manages two projects, ‘Riverbank Way’ and ‘Crescent
-- Towers’; they both started 23rd October 2019 and are on-going.
-- • Zhen Pai was managing the ‘Manchester Mall’ project which started on the 6th
-- November 2017 but this finished on the 8th August 2022.

-- INSERT INTO projects(ProjectName, StartDate) values ('Riverbank Way', '2019-10-23'), ('CrescentTowers', '2019-10-23')
-- INSERT INTO projects(ProjectName, StartDate, EndDate, ProjectManagerID) values ('Manchester Mal', '06-11-2017', '08-08-2022',  (SELECT EmployeeID FROM Employees WHERE FirstName = 'Zhen' AND LastName = 'Pai'))

-- INSERT INTO Employees (FirstName, LastName, DateJoined, DepartmentID, EmailAddress) VALUES ('Zhen', 'Pai', '08-08-2022', 3, 'z.pai@salfordbuildingprojects.co.uk')
-- INSERT INTO Employees (FirstName, LastName, DateJoined, DepartmentID, EmailAddress) VALUES ('Ejimofor', 'Chinweuba', '2019-10-23', 3, 'e.chinweuba@salfordbuildingprojects.co.uk')


-- UPDATE projects 
-- SET ProjectManagerID = (SELECT TOP 1 employeeID FROM employees WHERE FirstName = 'Ejimofor')
-- WHERE projectID IN (1, 2);

Select * from Employees
Select * from projects

In [62]:
UPDATE Employees
SET EmailAddress = 'c.dotson@salfordbuildingprojects.co.uk'
WHERE EmailAddress = '9000';

In [78]:
-- UPDATE Projects SET enddate = '2022-12-17' where ProjectManagerID = (SELECT TOP 1 employeeID FROM employees WHERE FirstName = 'Ejimofor')
-- UPDATE department SET DepartmentEmail = NULL
-- 
select * from department;

UPDATE department
SET DepartmentTelephone = '0161 123 4592'
WHERE DepartmentTelephone LIKE '0161 123 456_';

select * from department;

DepartmentID,DepartmentName,DepartmentEmail,DepartmentTelephone
1,Marketing,NULL,0161123 4567
2,HR,NULL,0161 123 4568
3,Operations,NULL,0161 123 4590
4,Sales,NULL,0161 123 4591

DepartmentID,DepartmentName,DepartmentEmail,DepartmentTelephone
1,Marketing,NULL,0161123 4567
2,HR,NULL,0161 123 4592
3,Operations,NULL,0161 123 4590
4,Sales,NULL,0161 123 4591

In [83]:
-- Delete From department where DepartmentName = 'Marketing';
-- Update department SET departmentName = 'Sales & Marketing' where departmentName = 'Sales'

delete from department where departmentName = 'HR'
select * from department
select * from employees

DepartmentID,DepartmentName,DepartmentEmail,DepartmentTelephone
2,HR,NULL,0161 123 4592
3,Operations,NULL,0161 123 4590
4,Sales & Marketing,NULL,0161 123 4591

EmployeeID,FirstName,MiddleName,LastName,DepartmentID,EmailAddress,LineManagerID,DateJoined,DateLeft
1,Beatrice,Alice,Robinson,2,b.robinson@salfordbuildingprojects.co.uk,NULL,2020-08-30,NULL
5,Charles,NULL,Dotson,3,c.dotson@salfordbuildingprojects.co.uk,NULL,2018-02-14,NULL
10,Zhen,NULL,Pai,3,z.pai@salfordbuildingprojects.co.uk,NULL,2022-08-08,NULL
11,Ejimofor,NULL,Chinweuba,3,e.chinweuba@salfordbuildingprojects.co.uk,NULL,2019-10-23,NULL

: Msg 547, Level 16, State 0, Line 4
The DELETE statement conflicted with the REFERENCE constraint "fk_department". The conflict occurred in database "SalfordBuildingProjects", table "dbo.Employees", column 'DepartmentID'.

In [88]:
-- tried to delete HR dept but couldn't reason? cause if it's deleted this menas the Beatrice in Employee will has NULL deptID which is not possible as it was set to NOT NULL.
-- To remove dept Sales, i'll first empty it. 
-- moving employee from sales to operations.

-- UPDATE employees
-- SET departmentID = (SELECT departmentID FROM department WHERE departmentName = 'Operations')
-- WHERE departmentID = (SELECT departmentID FROM department WHERE departmentName = 'HR');

Delete FROM department where departmentName = 'HR'
select * from department
select * from employees

DepartmentID,DepartmentName,DepartmentEmail,DepartmentTelephone
3,Operations,NULL,0161 123 4590
4,Sales & Marketing,NULL,0161 123 4591

EmployeeID,FirstName,MiddleName,LastName,DepartmentID,EmailAddress,LineManagerID,DateJoined,DateLeft
1,Beatrice,Alice,Robinson,3,b.robinson@salfordbuildingprojects.co.uk,NULL,2020-08-30,NULL
5,Charles,NULL,Dotson,3,c.dotson@salfordbuildingprojects.co.uk,NULL,2018-02-14,NULL
10,Zhen,NULL,Pai,3,z.pai@salfordbuildingprojects.co.uk,NULL,2022-08-08,NULL
11,Ejimofor,NULL,Chinweuba,3,e.chinweuba@salfordbuildingprojects.co.uk,NULL,2019-10-23,NULL